{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": "error"
  }
}
